<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Fuik Admin" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "fuik/application", media: "all" %>
  <script defer src="https://cdn.jsdelivr.net/npm/attractivejs@0.12.0"></script>
</head>
<body>
  <main>
    <%= yield %>
  </main>
</body>
</html>
