<h1>Webhooks</h1>

<ul class="events">
  <% @webhook_events.each do |event| %>
    <li>
      <%= link_to event_path(event) do %>
        <div class="name">
          <%= fuik_icon event.provider %>

          <span><%= event.provider %></span>
        </div>

        <code><%= event.event_type %></code>

        <span class="status" data-status="<%= event.status %>"><%= event.status %></span>

        <time><%= event.created_at.strftime("%Y-%m-%d %H:%M:%S") %></time>
      <% end %>
    </li>
  <% end %>
</ul>
